/* 
    Document   : site
    Created on : Jun 23, 2014, 11:55:00 PM
    Author     : Join Way
    Description:
        Purpose of the stylesheet follows.
*/

.service-image { 
    margin-top: 10px;
    margin-left: 0px;
}

